<dashboard>
    <div id="group-{{group.name}}"
        style="border-color: {{group.color}}"
        ng-click="showGroupPalette($index)"
        class="on light group" ng-repeat="group in groups track by $index">
        <h2>{{group.name}}</h2>
        
        <a href="#/zue/light/{{group.lights.join(',')}}/on/off">Turn Off</a>
        <a href="#/zue/light/{{group.lights.join(',')}}/on/on">Turn On</a>

        <zue-group-summary>
            <zue-minilight ng-repeat="lc in group.models track by $index" class="{{lc}}" />
        </zue-group-summary>

        <zue-group-palette ng-show="group.palette_visible" lights="group.lights.join(',')" />
        
        Apparently, nothing shows up after the directive #angularbugs?
        
    </div>
    <div></div>
    <dashboard-cell id="light-{{light.id}}"
        nstyle="border-color: {{light.zhue_color.hex}}"
        style="border-color: {{light.zhue_groupcolor}}"
        ng-click="showPalette($index)"
        ng-class="{on: light.state.on}" class="{{light.modelid}}" ng-repeat="light in lights track by $index">
        <div style="float:right">
            <a href="#/zue/light/{{light.id}}/on/on" ng-show="{{!light.state.on}}">Off</a>
            <a href="#/zue/light/{{light.id}}/on/off" ng-show="{{light.state.on}}">On</a>
        </div>
        <h2>{{light.zhue_name}}</h2>
        <div class="a-ul">in {{light.zhue_group}}</div>
        
        <zue-palette ng-show="light.palette_visible" light="light" />
    </dashboard-cell>
    <div>
        {{testLight}}
    </div>
    <div>
        <a href="#/zue/light/{{allLights}}/on/off">All Off</a>
        <a href="#/zue/light/{{allLights}}/on/on">All On</a>
    </div>
</dashboard>
